.notes {
	display: none;
}

input.form-control {
	font-size: 24px;
    
}
.form-control {
	max-width: 200px
}


/* Edit rows*/
.customLegend {
	margin-left: 50px;
}
.customLegend-item {
    width: 120px;
    padding: 10px;
    display: inline-block;
    /*cursor: pointer;*/
    margin-right: 10px;
}

.customLegend-label {
	padding-left: 30px;
	font-size: 20px;
}
circular, .circular {
	position: relative;
	top: -10px;
	left: 8px;
}
.cn-wrapper {
	margin-top: -8.85em;
	margin-left: -9.55em;
}

/* reset */
a {
	text-shadow: none;
}

.chapter {
	font-family: 'Open Sans', Arial, sans-serif;
	text-align: center;

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}
.chapter h1 {
	font-size: 140px;
	font-weight: bold;
}


.view {
    display: block;

    width: 900px;
    height: 700px;

    padding: 40px 60px;

    font-family: 'Open Sans', Arial, sans-serif;

    color: rgb(102, 102, 102);
    

    font-size: 30px;
    line-height: 36px;


    /* remove */
    /*border: solid 1px;*/
}

.view h1, .view h2, .view h3, .view .label {
	text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    letter-spacing: -1px;
}

.view h2 {
	font-size: 50px;
	margin-top: 10px;
	margin-left: 70px;
	font-weight: bold;
	padding-bottom: 20px;
}

.view img {
	max-width: 100%;
	display: block;
	margin: 20px auto;
}
.view .img-src {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: normal;
	float: right;
	text-shadow: none;
}
#chart {
height: 380px;
margin: 0px auto;
margin-left: -65px;
text-align: center;
}
angularchart {
	font-size: 16px;
    line-height: 18px;
	margin-left: -65px;
	margin-right: -65px;
}
.c3 svg {
font-size: 16px;
}

ul, li {
	list-style: initial;
	margin-left: 25px;
	padding-bottom: 10px;
}

.title {

}
.title h2 {
	text-align: center;
	font-size: 92px;
	margin: 0;	
}
.title h3 {
	text-align: center;
}

.title .surveyor {
	float: left;
	text-align: center;
	font-size: 20px;
	margin-top: 40px;
}
.title .author {
	text-align: center;
	font-size: 20px;
	padding-top: 41px;
	margin: auto;
	display: block;
}
.title .adviser {
	float: right;
	text-align: center;
	font-size: 20px;
	margin-top: 40px;
}

.title .logo_surveyor {
	float: left;
	margin-top: 40px;
}
.title .logo_adviser {
	float: right;
	height: 100px;
}
.codeblock {
	font-size: 20px;
	line-height: 1.1em;
	overflow: hidden;
	letter-spacing: monospaced;
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
.secondstep:not(.active) {
	opacity: 0.0;
}

.firststep:not(.active) {
	opacity: 0.1;
}

.chapter.future {
	opacity: 1.0;
}
.page-number {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
}